<?xml version="1.0" encoding="utf-8" ?>
<opensearch-definition>
  <database>
    <driver>org.postgresql.Driver</driver>
    <url>jdbc:postgresql:opensearch</url>
    <userID>shm</userID>
    <passwd>shm</passwd>
  </database> 
  <fedora>
    <host>localhost</host>
    <port>8080</port>
    <user>fedoraAdmin</user>
    <passphrase>fedoraAdmin</passphrase>
  </fedora>
  <datadock>
    <main-poll-time>1000</main-poll-time>
    <rejected-sleep-time>3000</rejected-sleep-time>
    <shutdown-poll-time>1000</shutdown-poll-time>
    <queuesize>20</queuesize>
    <corepoolsize>3</corepoolsize>
    <maxpoolsize>6</maxpoolsize>
    <keepalivetime>10</keepalivetime>
  </datadock>
  <pti>
    <main-poll-time>1000</main-poll-time>
    <rejected-sleep-time>3000</rejected-sleep-time>
    <shutdown-poll-time>1000</shutdown-poll-time>
    <queuesize>20</queuesize>
    <corepoolsize>3</corepoolsize>
    <maxpoolsize>6</maxpoolsize>
    <keepalivetime>10</keepalivetime>
  </pti>
  <harvester>
    <folder>/home/shm/opensearch/trunk/Harvest-pollTest/</folder>
  </harvester>
  <pidmanager>
    <num-of-pids-to-retrieve>10</num-of-pids-to-retrieve>
  </pidmanager>

</opensearch-definition>

