<?xml version="1.0" encoding="utf-8" ?>
<opensearch-definition>
  <database>
    <driver>oracle.jdbc.driver.OracleDriver</driver>
    <url>dbc:oracle:thin:shm/shm@tora1.dbc.dk:1521</url>
    <userID>shm</userID>
    <passwd>shm</passwd>
  </database> 
  <fedora>
    <host>sempu.dbc.dk</host>
    <port>8080</port>
    <user>fedoraAdmin</user>
    <passphrase>fedora_1</passphrase>
  </fedora>
</opensearch-definition>

